<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content ="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="blank" />
<meta name="format-detection" content="telephone=no" />
<title>{$title|default="Dr.K"}{$titleLater}</title>
<link rel="stylesheet" href="__PUBLIC__/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/css/animate.min.css">
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/hammer.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.hammer.js"></script>
</head>
<body>

<div id="header" class="wraper">
	<a href="{:U('editmp')}">
	<div class="HLeft HTop">
		<img src="__PUBLIC__/img/ic/topLW.png" alt="">
		<span>写名片</span>
	</div>
	</a>
	<h1>{$title|default="Dr.K"}</h1>
	<div class="HRight HTop">
		<img src="__PUBLIC__/img/ic/topR.png" alt="">
		<span>筛选</span>
	</div>
</div>