<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$title}</title>
<meta http-equiv="X-UA-Compatible" content ="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="blank" />
<meta name="format-detection" content="telephone=no" />
<meta name="Keywords" content="{$data.keywords}" />
<meta name="Description" content="{$data.description}" />
<link href="__PUBLIC__/css/main.css" type="text/css" rel="stylesheet">
</head>

<body>
<div id="menu">
	<div class="wraper">
        <span class="focus">首页</span>
        <a class="logo">Seo.</a>
        <span>关于我们</span>
    </div>
</div>
<div id="view">
    <volist id="v" name="data">
	<div class="Varticle">
    	<div class="Vtime">
        	<p><span class="day">{$v.time|date="d",###}</span></p>
            <p><span class="month">{$v.time|date="m",###}</span></p>
        </div>
        <div class="Vcontent">
        	<h2><a href="{:U('detail',array('id'=>$v['id']))}">{$v.title}</a></h2>
            <p>{$v.description}</p>
            <h4><a class="iconTime">{$v.time|date="Y.m.d H:i",###}</a></h4>
        </div>
    </div>
    </volist>
</div>
<div id="footer">
	<p>© Power by Kstutu</p>
</div>
</body>
</html>
