<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content ="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="blank" />
<meta name="format-detection" content="telephone=no" />
<title>{$title}</title>
<link rel="stylesheet" href="__PUBLIC__/css/master.css">
</head>
<body>
	<div id="header">
		<div class="wraper">
			<div class="nav">
				<a href="{:U('lists')}">Lists</a>
				<a href="{:U('add')}">Add</a>
			</div>
		</div>
	</div>